* {
margin: 0;
padding: 0;
}


body {
	background-color:#fff;
	font-family: 'Open Sans', sans-serif;
}

p.intro {
	padding-top:55px;
	font-size:21px;
	color:#fff;
}

article {
	color:#353535;
	line-height:18px;
	padding:15px;
	font-size:12px;
}

h1{
	font-size:20px;
	color:#fff;
	background: linear-gradient(to bottom, #0081f2 0%,#3db1fb 100%);
	padding:15px;
	text-shadow:#4b4b4b 2px 2px;
}

h2 {
	font-size:16px;
	color:#353535;
	padding:15px;
}

h3 {
	font-size:14px;
	color:#fff;
	background: linear-gradient(to bottom, #0081f2 0%,#3db1fb 100%);
	padding:15px;
	text-shadow:#4b4b4b 2px 2px;
	
}

q {
	
	font-size:16px;
	font-style:italic;
	color:#353535;
}

strong {
	padding:10px;
	color:#259bff;
	
}

figure {
	display:inline-block;
}

figure:hover {
	opacity:.5;
}

figcaption{
	font-size:14px;
	color:#fff;
	
}

ul {
	list-style-type:circle;
	
	padding:15px 0 15px 35px;
	font-size:12px;
}

header{
	width:100%;
	height:140px;
	font-family: 'Open Sans', sans-serif;
}

.headersection{
	width:960px;
	margin:0 auto;
}

.logo {
	float:left;
	background-image:url('../images/logo2.png');
	height:90px;
	
	
}

nav {
  padding-top: 57px;
  float:right;
}

.navlink {
  margin-top: 31px;
  margin-right: 89px;
  margin-bottom: 6px;
  padding-top: 3px;
  padding-right: 0px;
  padding-bottom: 2px;
  border: 1px none black;
  background-color: white;
  transition: color 500ms ease;
  direction: ltr;
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-size: 15px;
  font-weight: 400;
  text-align: right;
  text-decoration: none;
}
.navlink:hover {
  color: #6e6e6e;
}

#socials {
    list-style: none;
}
    #socials li {
        display: block;
        float: left;
        margin: 0 9px 0 0;
    }
    #socials a {
        display: block;
        width: 33px;
        height: 33px;
        text-indent: -9999px;
	
    }
	
.facebook {
   
	background-image:url('../images/Facebook.png');
	opacity:.5;
}

.facebook:hover {
        opacity:1;
    }

.twitter {
    background-image:url('../images/Tumblr.png');
	opacity:.5;
}

 .twitter:hover {
        opacity:1;
    }


#picsection {
	width:100%;
	background-color:#393c44;
	background-image:url('../images/bg.png');
	background-repeat:repeat;
	height:300px;
}

.pictures {
	width:800px;
	padding-top:25px;
	margin:0 auto;
	
	
	height:300px;
	
}


#intro {
	width:100%;
	background-color:rgb(61,177,251);
	height:300px;
}

#introbody{
	width:960px;
	padding:50px;
	font-family: 'Open Sans', sans-serif;
	font-size:28px;
	color:#fff;
	margin:0 auto;
	text-align:center;
}

#container{
	padding-top:30px;
	width:960px;
	margin:0 auto;
	
}



aside{
	width:320px;
	float:left;
	border: 1px solid #3db1fb;
	border-radius:5px;
	margin-right:10px;
	height:auto;
	padding-bottom:25px;
	font-family: 'Open Sans', sans-serif;
	font-size:16px;
	box-shadow: 2px 2px 2px #c6d0d7;
	
}

#rightcol{
	width:620px;
	float:left;
	clear:right;
	border: 1px solid #3db1fb;
	border-radius:5px;
	height:auto;
	padding-bottom:25px;
	font-family: 'Open Sans', sans-serif;
	font-size:16px;
	box-shadow: 2px 2px 2px #c6d0d7;
	
}

footer{
	width:960px;
	float:left;
	clear:both;
	border: 1px solid #3db1fb;
	border-radius:5px;
	text-indent:25px;
	padding-top:25px;
	height:auto;
	margin:25px 0 25px 0;
	padding-bottom:25px;
	font-family: 'Open Sans', sans-serif;
	font-size:16px;
	box-shadow: 2px 2px 2px #c6d0d7;
	
}


.datagrid table { 
  border-collapse: collapse; text-align: left; width: 100%;
}
 

.datagrid {
  font: normal 12px/150% Arial, Helvetica, sans-serif; 
  background: #fff; 
  overflow: hidden; 
  border: 1px solid #3db1fb;
  border-radius: 3px; 
  margin:0 0 15px 15px;
}

.datagrid table td, .datagrid table th { 
  padding: 3px 10px; 
}

.datagrid table td:hover{
	background-color:#ddeffa;
}


.datagrid table thead th {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0081f2), color-stop(1, #3db1fb) );
  background:-moz-linear-gradient( center top, #0081f2 5%, #3db1fb 100% );
  background-color:#323A45; 
  color:#FFFFFF; 
  font-size: 15px; 
  font-weight: bold; 
  text-transform:uppercase;
  border: 1px solid #3db1fb; } 

.datagrid table thead th:first-child { 
  border: none; 
}

.datagrid table tbody td { 
  color: #00557F; 
  border-left: 1px solid #23b2fc;
  font-size: 12px;
  font-weight: normal; 
}

.datagrid table tbody .alt td { 
  background: #23b2fc; 
  color: #00557F; 
}

.datagrid table tbody td:first-child { 
  border-left: none; 
}

.datagrid table tbody tr:last-child td { 
  border-bottom: none; 
}


input, textarea {
	margin:0 0 10px 15px;
	padding: 10px;
	border: 1px solid #E5E5E5;
	width: 200px;
	color: #0081f2;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	
}

textarea {
	width: 400px;
	height: 150px;
	max-width: 400px;
	line-height: 18px;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	border: 1px solid #C9C9C9;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
	
}

.form label {
	margin-left: 10px;
	color: #999999;
}



.submit input {
	width: 100px; 
	height: 40px;
	background-color: #0081f2; 
	color: #FFF;
	border-radius: 3px;
	
}

#styled-select select {
   background:#fff;
   border: 1px solid #E5E5E5;
   box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
   width: 220px;
   padding: 5px;
   margin:0 0 10px 15px;
   font-size: 12px;
   line-height: 1;
   color:#999999;
   border-radius: 0;
   height: 34px;
   
   }

input[type="radio"] {
    display:none;
}

input[type="radio"] + label {
    color:#0081f2;
    font-family:Arial, sans-serif;
    font-size:14px;
	margin-bottom:10px;
	
}

input[type="radio"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(../images/check_radio_sheet.png) -38px top no-repeat;
    cursor:pointer;
	margin-bottom:15px;
}

input[type="radio"]:checked + label span {
    background:url(../images/check_radio_sheet.png) -57px top no-repeat;
}






	
	