


body {
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  background:#000 url('../images/pattern_055.gif') repeat top left;
  font-size: .750em;
  line-height: 20px;
}

a:link{
	color:#FF6600;
	display:inline;
}
a:visited{
	color:#FF6600;
}

a:hover{
	color:#FFFFFF;
}

a:active{
	color:#FF6600;
}





#col1{
	width:25%;
	float:left;
	clear:right;
	background-color:#A1A194;
	border-radius:8px;
	border: 1px solid #FF6600;
	box-shadow:4px 4px #464646;
	padding:25px;
	margin-right:50px;
	
}

#col2{
	width:55%;
	float:left;
	clear:right;
	background-color:#A1A194;
	border-radius:8px;
	border: 1px solid #FF6600;
	box-shadow:4px 4px #464646;
	padding:25px;
	margin-right:50px;
	
}

#col3{
	width:25%;
	float:left;
	background-color:#A1A194;
	border-radius:8px;
	border: 1px solid #FF6600;
	box-shadow:4px 4px #464646;
	padding:25px;
}

#footer{
	width:100%;
	float:left;
	clear:both;
	background-color:#A1A194;
	border-radius:8px;
	border: 1px solid #FF6600;
	box-shadow:4px 4px #464646;
	padding:25px;
	margin-top:50px;
	margin-bottom:50px;
	text-align:center;
}

.links{
	
	display:inline;
	text-align:center;
	
}



h1 {
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  font-family: 'Cinzel', serif;
  letter-spacing:5px;
  color: #FFFFFA;
  padding-left:10px;
  font-size: 2.667em;
  text-align: left;
  background: #ffa84c; /* Old browsers */
background: -moz-linear-gradient(top, #ffa84c 0%, #ff7b0d 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffa84c), color-stop(100%,#ff7b0d)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffa84c 0%,#ff7b0d 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffa84c 0%,#ff7b0d 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ffa84c 0%,#ff7b0d 100%); /* IE10+ */
background: linear-gradient(to bottom, #ffa84c 0%,#ff7b0d 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa84c', endColorstr='#ff7b0d',GradientType=0 ); /* IE6-9 */
  border-radius:3px;
  text-shadow: 2px 2px #A1A194;
}
h2 {
  font-weight: 400;
  font-family: 'Pathway Gothic One', sans-serif;
  color: #FF6600;
  text-transform:uppercase;
  padding-left:10px;
  font-size: 1.5em;
  line-height: 36px;
  font-weight: 400;
  border-radius:3px;
  background-color:#323A45;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  color: #E74C3C;
  padding-left:10px;
  font-size: 1.125em;
  line-height: 36px;
  font-weight: 200;
  border-radius:3px;
  background-color:#ffffff;
}

p {
  
  margin-bottom: 5px;
  padding-top: 10px;
  text-align: left;
}

p.new{
	
	color:#464646;
}

p.note{
	width:auto;
	color:#FF6600;
	padding:5px 0 5px 5px;
	border:2px double #F60;
	background-color:#464646;
	border-radius:3px;
}

ul {
  background-color:#464646;
  opacity: .5;
  list-style-type:upper-alpha;
  box-shadow:1px 1px #000;
  border-radius:3px;
 
}


